body {
    padding: 1px;

}

nav li a:hover:not(.active) {
    background-color: #8842e3b5;
}
nav li a{
    color: whitesmoke;
    background-color: rgba(176, 16, 234, 0.834);
    text-decoration: none;
    padding: 23.5px 30px;
    display: block;
    font-size: 20px;
    font-style:normal;
    

}
li#top{
    background-color: rgb(46, 6, 83);
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgba(176, 16, 234, 0.834)5;
    position: fixed;
    width: 25%;
    height: 100%;

}
p{text-align: center;}

h1{
    font-size: 70px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.center{
    margin: auto;
  width: 40%;
  padding: 10px;
}
.newspaper{
    column-count: 3;
  column-gap: 20px;
  column-rule-style: none;
}
p#frase{
    padding: 0;
    margin-top : 0;
    margin-bottom: 250px;
    font-size: 35px;
}
h2#com{
    margin-top: 100px;
    padding: 0px;
}


h3{
    margin: 10px;
    padding: 0;

}
img#home{
    margin-top: 100px;
}
footer{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
footer h4 a {
    text-decoration: none;
}
footer h4{
    font-size: 30px;
}

footer h2{
    font-size: 30px;
}
h2 a {
    text-decoration: none;

}

section#paginaexterna h2{
    font-size: 50px;
}

